<%- include("partials/header"); -%>

<!-- card --> 
 <div style="text-align:center;"><img style="width:15%;"class="rotate180"src="https://media.giphy.com/media/WnTrEsyCtkTX4KUOv0/giphy.gif"></div>

<div class=" card shadow-lg p-3 mb-5 bg-white " style="width: 30rem;text-align: center;border-radius: 5%;">

<img src="https://data.whicdn.com/images/295658437/original.jpg" class="card-img-top" alt="my-img">
  <div class="card-body"style="text-align: center;">
    <div class="card-title "style="font-size:2rem;font-family: 'Montserrat Subrayada', sans-serif;color:rgb(69, 117, 69);">PROFESSIONAL LINKS</div>

    <a href="https://ananyanegi.github.io/Web-Portfolio/" class="btn btn-block">Web Portfolio</a>
    <a href="https://tranquil-sea-44818.herokuapp.com/" class="btn btn-block">Weather App</a>
    <a href="https://tranquil-gorge-68923.herokuapp.com/" class="btn btn-block">ToDo List</a>
    <a href="https://ananyanegi.github.io/Rock-and-Roll/" class="btn btn-block">Keyboard Drum Set</a>
 </div>
 </div>


 <div class=" card shadow-lg p-3 mb-5 bg-white" style="width: 30rem;text-align: center;border-radius: 5%;">
  <img src="https://data.whicdn.com/images/295658437/original.jpg" class="card-img-top" alt="my-img">
  <div class="card-body"style="text-align: center;">
    <div class="card-title"style="font-size:2rem;font-family: 'Montserrat Subrayada', sans-serif;color:rgb(69, 117, 69);">PERSONAL LINKS</div>
    <a href="https://www.instagram.com/sakura_and_a_queen/" class="btn btn-block">Intagram Handle</a>
    <a href="https://www.instagram.com/its_sakura_arts/" class="btn btn-block">Art Account</a>
    <a href="linkedin.com/in/ananya-negi-42922018a" class="btn btn-block">Linkedin</a>
    <a href="https://github.com/AnanyaNegi" class="btn btn-block">Github</a>
    

 </div>
 </div><br><br>

 <form autocomplete="off"class="form-signin card" style="width:500px;height:400px;border-radius: 15px;padding:15px;"method="post" action="/">
  <div style="text-align: center;padding-top: 10px;"><img class="mb-4" src="https://previews.123rf.com/images/peshkov/peshkov1704/peshkov170400118/75734338-abstract-digital-network-with-hr-icons-networking-concept-3d-rendering.jpg" alt="" width="72" height="72"style="border-radius:50%;"></div>
  <h1 class="h3 mb-3 font-weight-normal" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;font-size: 2.5rem;">Signup to Link-Net</h1>
  <input type="text"style="padding:20px;margin:0 0 4px;" name="fName" class="  top form-control" placeholder="First Name" required autofocus>
  <input type="text"style="padding:20px;margin:0 0 4px;" name="lName" class=" middle form-control" placeholder="Last Name" required>
  <input type="email"style="padding:20px;margin:0 0 4px;" name="email" class=" bottom form-control" placeholder="Email" required>
<button class="btn btn-lg btn-block"style="padding:10px;margin-bottom:10px;" type="submit">Sign me up!</button>
</form><div style="text-align:center;">
  <span><img style="width:300px;"src="https://media.giphy.com/media/cKP06Mf4RfSsdhAg9C/giphy.gif"></span>
</div>



<%- include("partials/footer"); -%>
