
<%- include("partials/header"); -%>

    <form autocomplete="off"class="form-signin card" style="width:300px;height:500px;border-radius:4px;padding:15px;"method="post" action="/">
  <div style="text-align: center;padding-top: 10px;"><img class="mb-4" src="https://previews.123rf.com/images/peshkov/peshkov1704/peshkov170400118/75734338-abstract-digital-network-with-hr-icons-networking-concept-3d-rendering.jpg" alt="" width="72" height="72"style="border-radius:50%;"></div>
  <h1 class="h3 mb-3 font-weight-normal" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;font-size: 2.5rem;">Signup to Link-Net</h1>
  <input type="text"style="padding:20px;margin:0 0 4px;" name="fName" class="  top form-control" placeholder="First Name" required autofocus>
  <input type="text"style="padding:20px;margin:0 0 4px;" name="lName" class=" middle form-control" placeholder="Last Name" required>
  <input type="email"style="padding:20px;margin:0 0 4px;" name="email" class=" bottom form-control" placeholder="Email" required>
<button class="btn btn-lg btn-block"style="padding:10px;margin-bottom:20px;" type="submit">Sign me up!</button>
</form><div style="text-align:center;">
  <span><img style="width:300px;"src="https://media.giphy.com/media/cKP06Mf4RfSsdhAg9C/giphy.gif"></span>
</div>

<%- include("partials/footer"); -%>